PORT=3000
MONGO_URI=mongodb+srv://phoebemutebi2000_db_user:ISAACea@isaac-kenya-cluster.ycajved.mongodb.net/isaac_kenya?appName=isaac-kenya-cluster  
JWT_SECRET=change-this-secret-before-production
JWT_EXPIRES_IN=8h
MAX_UPLOAD_SIZE=8mb
ALLOWED_FILE_TYPES=image/jpeg,image/png,application/pdf


